.textbox{
border: 1px solid black;
text-align: center;
margin-top:60px;
width: 200px;
}

body{
    background-image: url(lightblue.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
}

.kavala{
    border: 1px solid black;
   
}
.radius{
    border-radius: 15px;
    border: 2px solid green;
    background-color: aliceblue;
    text-align: center;
   padding: 10px;
   height: 50px;
}















